body{
  background: rgba(45, 43, 43, 0.7)url(a.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.main{
  text-align: center;
  width: 40%;
  
  margin-left: 30%;
  margin-top: 8%;
 
}
p{
  color: aliceblue;
}
input{
  margin:10px;
  padding: 5px;
}

button{
  margin:10px;
  padding: 5px;
  background-color: rgb(202, 70, 239);;
  width: 20%;
  font-weight: bold;
  border: none;
}


h1{
  color: rgb(202, 70, 239);
}

a{
  color: rgb(202, 70, 239);
  font-weight: bold;
  text-decoration: none;
}

a:link{
  color: rgb(202, 70, 239);
}